#picture1 {
    width: 30%;
    height: 45%;
    border-radius: 50%;
    margin-left: 35%;
    margin-right: 20%;
}

#name {
    padding-top: 2%;
    color: #ffffff;
    margin-left: 30%;
    margin-right: 20%;
}

.elementosDivMaior {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 20%;

}

.backgroundManeiro {
    margin-left: 25%;
    background-color: #30363d;
    border-radius: 5%;
    width: 50%;
    height: 80em;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0d1117;
    color:#8b949e ;
}

a {
    margin-left: 10%;
    text-decoration: none;
    color:#58a6ff ; 
}

h3 {
    color: white;
}

.Links {
    margin-left: 8%;
}

.fotos1 {
    margin-left: -50%;
    float: left;
    border-radius: 40%;
    width: 50%;
    height: 12em;
    
}

.fotos2 {
    margin-right: -20%;
    float: right;
    border-radius: 20%;
    width: 50%;
    height: 100%;
}

.fotos3 {
    margin-left: -20%;
    margin-top: 35%;
    border-radius: 20%;
    width: 50%;
    height: 100%;
}

