#picture1 {
    width: 30%;
    height: 45%;
    border-radius: 50%;
    margin-left: 35%;
    margin-right: 20%;
}

#name {
   
    color: #00767C;
    margin-left: 30%;
    margin-right: 20%;
}

.elementosDivMaior {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 20%;

}

.backgroundManeiro {
    margin-left: 25%;
    background-color: white;
    border-radius: 10%;
    width: 50%;
    height: 60em;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #00767C;
}